# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Documentos\IdeaProjects\DI_CP1_UD3\InterfaceReserveHibernate\DI_CP1_UD3_BBDD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
